@model Microsoft.Bot.Sample.AadV2Bot.Areas.Bot.Models.WebChatModel
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>


</head>
<body>
<div> 
    <div id="bot" style="max-width:300px;margin-top:80px;min-height:500px;" />
</div>
</body>

<script>
    var botConnection = new BotChat.DirectLine({
        token: '@Model.Token'
    });
    BotChat.App({
        directLine: { secret: '@Model.Token' },
        user: { id: '@Model.UserId', name: "Unknown" },
        botConnection: botConnection,
        bot: { id: 'BOT_BOT_BOT_BOT_BOT' },
        resize: 'detect'
    }, document.getElementById("bot"));

</script>
</html>

